.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 353px;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    max-width: 235px;
  }
}
