.card {
  max-width: 413px;
}

.card__image {
  height: 445px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
  line-height: 120%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 353px;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 288px;
  }
}
