.footer {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  margin: 0;
}

.footer__text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #212121b2;
}
