.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  align-items: start;
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

.profile__name {
  color: #212121;
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  color: #212121b2;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}
.profile__edit-button {
  cursor: pointer;
  margin-top: auto;
  color: #212121;
  border: none;
  display: flex;
  justify-self: center;
  background-color: transparent;
  gap: 8px;
  opacity: 70%;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 150ms;
}

.profile__pencile-icon {
  color: #212121;
}

.profile__add-button {
  border: none;
  display: flex;
  margin-left: auto;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  background-color: #212121;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fcf5e5;
}

.profile__plus-icon {
  border: 2px;
  gap: 8px;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    margin: 0 0 6px;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 288px;
  }

  .profile__column {
    align-items: center;
    margin: 0 0 20px;
  }

  .profile__edit-button {
  }

  .profile__add-button {
    width: 288px;
    height: 52px;
    margin: 0;
  }
}
